@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kite+One&display=swap');
.btnInicio{
    background-color: #CF5488;
}
.btnInicio:active,.btnInicio:hover{
    background-color: #CF9C54;
}
.colorLetra{
    color:#CF5488;
}
#mainNav .navbar-toggler{
    color:#CF5488;
    border-color: #CF5488;
}
a{
    color:#CF5488;
}
#mainNav.navbar-shrink .nav-link:hover{
    color:#CF5488;
}
.contact-section .card{
    border-bottom: none;
}
#mainNav.navbar-shrink .nav-link.active{
    border-color: #CF5488;
    color:#CF5488;
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}
.brand2{
    font-size: 0.5em;
    padding-left: 3em;
}
@media (max-width: 600px){
    .navbar-brand{
        font-size: 1.5em;
    }
}
.sansSeriftFont{
    font-family: 'Kite One', sans-serif;
}


/*Formulario*/

.formulario{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
    background-color: #ffffff;
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    margin: 4rem;
   }
   
   .formulario:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
   .contact-section{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: column nowrap;
   }